.navbar {
  width: 100%;
  height: 60px;
  background: #4f46e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  color: white;
  font-size: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-left {
  font-weight: bold;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right span {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.nav-right span:hover {
  opacity: 0.8;
}

.logout-btn {
  background: #ef4444;
  border: none;
  padding: 7px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}
