.signup-container {
  min-height: 100vh;
  background: #eef2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-box {
  width: 400px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.signup-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-input {
  width: 90%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  font-size: 15px;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background: #10b981;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.signup-btn:hover {
  background: #059669;
}

.signup-login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-login-link span {
  color: #4f46e5;
  cursor: pointer;
}
